:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

@font-face{
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
    font-weight: 600
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
}

* {
    font-family: 'Inter';
    font-weight: 400;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

li{
    list-style-type: none;
}

html, body{
    height: 100%;
}

body{
    background: var(--grey-900);
    min-height: 812px;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center; /*Вертикаль    */
    justify-content: center;
}

main{
    background: var(--grey-800);
    max-width: 325px;
    width: 100%;
    border-radius: 10px;
}

.portfolio{
    min-height: 582px;
}

.profile{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

figure img{
    width: 87px;
    border-radius: 100px;
}

h1{
    padding-top: 23px;
    color: #FFFFFF;
    font-size: 24px;
}

h2{
    padding-top: 10px;
    font-size: 14.5px;
    color: var(--green);
}

p {
    color: #FFFFFF;
    padding-top: 30px;
    font-size: 14px;
}

.page__links{
    padding-top: 25px;
    width: 86%;
    margin: 0 auto;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    display: flex;
    justify-content: center;
     align-items: center;
    height: 45px;
    border-radius: 10px;
    background-color: var(--grey-700);
}

li a{
    color: #FFFFFF;
    font-size: 14px;
}

@media (width >= 768px) {
    main{
        max-width: 385px;
    }

    .portfolio{
        min-height: 610px;
    }

    .profile{
        padding-top: 40px;
    }

    .page__links{
        width: 80%;
    }
}